In [91]:
#https://zhuanlan.zhihu.com/p/32572237
#https://zhuanlan.zhihu.com/p/93179647
import pandas as pd
import numpy as np
import datetime

In [92]:
df01 = pd.read_excel("價格資料_論文用_1e(未剔除缺失值之資料)_0831.xlsx")
df01

,Date,BTC,ETH,USDT,XRP,EPU,VIX,WTI,XAU,NASDAQ,SP500
0,2015-09-01,228.121002,1.351610,1.000000,0.007815,92.72,31.40,45.41,1140.11,4636.10,1913.85
1,2015-09-02,229.283997,1.294790,1.000000,0.007700,93.82,26.09,46.25,1134.05,4749.98,1948.86
2,2015-09-03,227.182999,1.264930,1.000000,0.007431,57.57,25.61,46.75,1125.25,4733.50,1951.13
3,2015-09-04,230.298004,1.274410,1.000000,0.007355,144.81,27.80,46.05,1123.00,4683.92,1921.22
4,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2187,2021-08-27,49058.667969,3270.600830,1.000355,1.188473,70.21,16.39,68.74,1816.67,15129.50,4509.37
2188,2021-08-28,48902.402344,3244.403320,1.000627,1.145505,142.64,NaN,NaN,NaN,NaN,NaN
2189,2021-08-29,48829.832031,3227.002686,1.001225,1.140832,105.57,NaN,NaN,NaN,NaN,NaN
2190,2021-08-30,47054.984375,3224.374268,1.000508,1.101435,64.53,16.19,69.21,1810.02,15265.90,4528.79
2191,2021-08-31,47166.687500,3433.732666,1.000529,1.187593,173.55,16.48,68.50,1813.43,15259.20,4522.68

In [93]:
#判斷行或列是否有缺失值 https://blog.csdn.net/crj0926/article/details/100805102
# https://blog.csdn.net/qq_40825479/article/details/83544430

#https://zhuanlan.zhihu.com/p/89259675
def check_missing_data(df):
    # check for any missing data in the df (display in descending order)
    return df.isnull().sum(axis = 1).sort_values(ascending=False)
check_missing_data(df01)

1096    11
1593    11
718     11
719     11
1692    11
        ..
860      0
857      0
856      0
855      0
2191     0
Length: 2192, dtype: int64

In [94]:
#讀取任一列的數字 iloc輸入值為索引值；loc是基於標籤
#https://www.cnblogs.com/timotong/p/9678490.html
df01.iloc[1096]

Date      NaT
BTC       NaN
ETH       NaN
USDT      NaN
XRP       NaN
EPU       NaN
VIX       NaN
WTI       NaN
XAU       NaN
NASDAQ    NaN
SP500     NaN
Name: 1096, dtype: object

In [95]:
# 去除有NaN值的行或列(axis=0去除列，=1去除行
df01.dropna(axis = 0, inplace = True)
df01

,Date,BTC,ETH,USDT,XRP,EPU,VIX,WTI,XAU,NASDAQ,SP500
0,2015-09-01,228.121002,1.351610,1.000000,0.007815,92.72,31.40,45.41,1140.11,4636.10,1913.85
1,2015-09-02,229.283997,1.294790,1.000000,0.007700,93.82,26.09,46.25,1134.05,4749.98,1948.86
2,2015-09-03,227.182999,1.264930,1.000000,0.007431,57.57,25.61,46.75,1125.25,4733.50,1951.13
3,2015-09-04,230.298004,1.274410,1.000000,0.007355,144.81,27.80,46.05,1123.00,4683.92,1921.22
7,2015-09-08,243.606995,1.242430,1.000000,0.007831,69.15,24.90,45.94,1121.80,4811.93,1969.41
...,...,...,...,...,...,...,...,...,...,...,...
2185,2021-08-25,48960.789063,3224.915283,1.000359,1.172529,70.67,16.79,68.36,1790.68,15041.90,4496.19
2186,2021-08-26,46942.218750,3100.325439,1.000430,1.075266,55.59,18.84,67.42,1792.18,14945.80,4469.91
2187,2021-08-27,49058.667969,3270.600830,1.000355,1.188473,70.21,16.39,68.74,1816.67,15129.50,4509.37
2190,2021-08-30,47054.984375,3224.374268,1.000508,1.101435,64.53,16.19,69.21,1810.02,15265.90,4528.79
2191,2021-08-31,47166.687500,3433.732666,1.000529,1.187593,173.55,16.48,68.50,1813.43,15259.20,4522.68

In [96]:
# https://www.delftstack.com/zh-tw/howto/python-pandas/pandas-remove-index/
# 重置 DataFrame 的索引
df01 = df01.reset_index(drop=True)
df01

,Date,BTC,ETH,USDT,XRP,EPU,VIX,WTI,XAU,NASDAQ,SP500
0,2015-09-01,228.121002,1.351610,1.000000,0.007815,92.72,31.40,45.41,1140.11,4636.10,1913.85
1,2015-09-02,229.283997,1.294790,1.000000,0.007700,93.82,26.09,46.25,1134.05,4749.98,1948.86
2,2015-09-03,227.182999,1.264930,1.000000,0.007431,57.57,25.61,46.75,1125.25,4733.50,1951.13
3,2015-09-04,230.298004,1.274410,1.000000,0.007355,144.81,27.80,46.05,1123.00,4683.92,1921.22
4,2015-09-08,243.606995,1.242430,1.000000,0.007831,69.15,24.90,45.94,1121.80,4811.93,1969.41
...,...,...,...,...,...,...,...,...,...,...,...
1501,2021-08-25,48960.789063,3224.915283,1.000359,1.172529,70.67,16.79,68.36,1790.68,15041.90,4496.19
1502,2021-08-26,46942.218750,3100.325439,1.000430,1.075266,55.59,18.84,67.42,1792.18,14945.80,4469.91
1503,2021-08-27,49058.667969,3270.600830,1.000355,1.188473,70.21,16.39,68.74,1816.67,15129.50,4509.37
1504,2021-08-30,47054.984375,3224.374268,1.000508,1.101435,64.53,16.19,69.21,1810.02,15265.90,4528.79
1505,2021-08-31,47166.687500,3433.732666,1.000529,1.187593,173.55,16.48,68.50,1813.43,15259.20,4522.68

In [99]:
# 將 DataFrame 的索引改設置為 Date
df01 = df01.set_index('Date')
df01

,BTC,ETH,USDT,XRP,EPU,VIX,WTI,XAU,NASDAQ,SP500
Date,,,,,,,,,,
2015-09-01,228.121002,1.351610,1.000000,0.007815,92.72,31.40,45.41,1140.11,4636.10,1913.85
2015-09-02,229.283997,1.294790,1.000000,0.007700,93.82,26.09,46.25,1134.05,4749.98,1948.86
2015-09-03,227.182999,1.264930,1.000000,0.007431,57.57,25.61,46.75,1125.25,4733.50,1951.13
2015-09-04,230.298004,1.274410,1.000000,0.007355,144.81,27.80,46.05,1123.00,4683.92,1921.22
2015-09-08,243.606995,1.242430,1.000000,0.007831,69.15,24.90,45.94,1121.80,4811.93,1969.41
...,...,...,...,...,...,...,...,...,...,...
2021-08-25,48960.789063,3224.915283,1.000359,1.172529,70.67,16.79,68.36,1790.68,15041.90,4496.19
2021-08-26,46942.218750,3100.325439,1.000430,1.075266,55.59,18.84,67.42,1792.18,14945.80,4469.91
2021-08-27,49058.667969,3270.600830,1.000355,1.188473,70.21,16.39,68.74,1816.67,15129.50,4509.37
2021-08-30,47054.984375,3224.374268,1.000508,1.101435,64.53,16.19,69.21,1810.02,15265.90,4528.79
2021-08-31,47166.687500,3433.732666,1.000529,1.187593,173.55,16.48,68.50,1813.43,15259.20,4522.68

In [97]:
#https://blog.csdn.net/Benzmjs/article/details/116598639
df01.to_excel("價格資料_論文用_2e(剔除缺失值之資料)_0831.xlsx", index = False)